@import url(../comments/__container/comments__container.css);
@import url(../comment/comment.css);
@import url(../comments/__content-title/__content-title.css);
@import url(../comments/__content-subtitle/__content-subtitle.css);

.comments {
    font-family: Inter;
    display: flex;
    flex-direction: column;
    margin-top: 95px;
}

@media (max-width:375px) {
    .comments {
        margin-top:55px;
    }
}