@import url(../places/__container/places__container.css);

.places {
    margin-top:100px;
    font-family: Inter;
}

@media (max-width:495px) {
    .places {
        margin-top: 65px;
    }
}

@media (max-width:395px) {
    .places {
        margin-top: 80px;
    }
}