.cover__subtitle {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    font-weight: normal;
    margin: 0;
    position: absolute;
    bottom: 45px;
    width: 382px;
}

@media (max-width: 768px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 17px;
        min-width: 288px;
        width: 40%;
    }
}

@media (max-width:685px) {
    .cover__subtitle {
        bottom:20px;
    }
}