.place__paragraph {
    margin:0px;
    grid-column:2/3;
    grid-row:2/3;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
}

.place__paragraph:first-of-type {
    padding-bottom:23px;
}

.place__paragraph:last-of-type {
    padding: 0;
}

@media (max-width: 1024px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 27px;
    }
}