@import url(../intro/__title/intro__title.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__subtitle/intro__subtitle.css);
@import url(../intro/__container/intro__container.css);
@import url(../intro/__text-bottom/intro__text-bottom.css);

.intro {
    margin-top: 60px;
    font-family: Inter;
}

@media (max-width: 1024px) {
    .intro {
        margin-top: 100px;
    }
}

@media (max-width: 375px) {
    .intro {
        margin-top: 45px;
    }
}

@media (max-width: 320px) {
    .intro {
        margin-top: 85px;
    }
}