@import url(../emblem/__city/emblem__city.css);
@import url(../emblem/__image/emblem__image.css);
@import url(../emblem/__item/emblem__item.css);
@import url(../emblem/__title/emblem__title.css);
@import url(../emblem/__wrapper/emblem__wrapper.css);

.emblem {
    display: flex;
    flex-direction: column;
    width: 82%;
    margin: 82px auto 0;
    font-family: Inter;
}