.intro__text-bottom {
    margin: 0;
    list-style: none;
    padding: 20px 0 0 0;
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
}

@media (max-width: 375px) {
    .intro__text-bottom {
        padding-top: 35px;
    }
}

@media (max-width: 375px) {
    .intro__text-bottom {
        font-size: 12px;
    }
}